body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  padding: 20px;
  overflow-y: hidden;
}
/* Root, dark theme used for dark theme */
:root{
    --primary-color: #efeae3;
    --secondary-color: #212121;
    --tertiary-color: #f0f0f0;
    --quaternary-color: #515151;
}
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #fff;
    --tertiary-color: #515151;
    --quaternary-color: #f0f0f0 ;
}
#icon {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width:30px;
  cursor: pointer;
  display: inline;
  padding: 0px 4px;
}
nav{
  position: sticky;
  top:0;
}
.hidden {
  display: none;
}
.maincontainer {
  margin: 50px 80px;
  position: relative;
  padding:7vh 10vw ;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: -10px 13px 16px rgba(0, 0, 0, 0.2);
}
.chapters{
  display: grid;
  grid-row: auto;
}
.chapter-card {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border: 1px solid #ccc;
  padding: 30px;
  margin: 10px;
  cursor: pointer;
  /* display: inline-block; */
  /* width: 200px;
  height: 100px; */
  text-align: center;
  transition: background-color 0.3s;
}
.maincontainer .chapters a .chapter-card{
  text-decoration: none;
  color: black;
}

.chapter-card:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.line{
  text-decoration: none;
  color: black;
}

.pdf {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow-y: hidden;
}

.pdf,
html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-image: url("../Background.png");
}

h1,
h3 {
  text-align: center;
}

h1 {
  color: green;
}